<div class="fl-cart-contain">
    <div class="mini-cart">
        <div class="basket"><a href="{{ cart }}">{% if m_cart_total %}<span id="cart-total">{{ m_cart_total }}</span>{% endif %}</a></div>
        {% if products or vouchers %}
        <div class="fl-mini-cart-content" style="display: none;">
            <div class="block-subtitle">
                <div class="top-subtotal">{{ text_items }}</div>
                <!--top-subtotal-->
                <!--pull-right-->
            </div>
            <!--block-subtitle-->
            <ul class="mini-products-list" id="cart-sidebar">
                {% for product in products %}
                <li class="item first">
                    <div class="item-inner">
                        <a class="product-image" title="{{ product.name }}" href="{{ product.href }}">
                            <img alt="{{ product.name }}" src="{{ product.thumb }}">
                        </a>
                        <div class="product-details">
                            <div class="access">
                                <a class="btn-remove1" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" href="#">{{ button_remove }}</a>
                                <a class="btn-edit" title="Edit item" href="#">
                                    <i class="icon-pencil"></i>
                                    <span class="hidden">Edit item</span>
                                </a>
                            </div>
                            <!--access-->
                            <strong>{{ product.quantity }}</strong> x <span class="price">{{ product.price }}</span>
                            <p class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></p>
                        </div>
                    </div>
                </li>
                {% endfor %}
               {# <li class="item last">
                    <div class="item-inner"><a class="product-image"
                                               title="JP Lizzy Satchel Designer Diaper Bag - Slate Citron" href="#"><img
                                    alt="JP Lizzy Satchel Designer Diaper Bag - Slate Citron"
                                    src="catalog/view/theme/Marazzo/products-images/p3.jpg"></a>
                        <div class="product-details">
                            <div class="access"><a class="btn-remove1" title="Remove This Item" href="#">Remove</a> <a
                                        class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span
                                            class="hidden">Edit item</span></a></div>
                            <!--access-->
                            <strong>1</strong> x <span class="price">$80.00</span>
                            <p class="product-name"><a href="product-detail.html">Fresh Organic Mustard Leaves</a></p>
                        </div>
                    </div>
                </li>#}
            </ul>
            <div class="actions">
                <button class="btn-checkout" title="Checkout" type="button" onClick="window.location={{ cart }}">
                    <span>Checkout</span></button>
            </div>
            <!--actions-->
        </div>
        {% endif %}
        <!--fl-mini-cart-content-->
    </div>
</div>

{#<div id="cart" class="btn-group btn-block">
    <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}"
            class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span
                id="cart-total">{{ text_items }}</span></button>
    <ul class="dropdown-menu pull-right">
        {% if products or vouchers %}
            <li>
                <table class="table table-striped">
                    {% for product in products %}
                        <tr>
                            <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img
                                            src="{{ product.thumb }}" alt="{{ product.name }}"
                                            title="{{ product.name }}" class="img-thumbnail"/></a> {% endif %}</td>
                            <td class="text-left"><a
                                        href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
                                    {% for option in product.option %} <br/>
                                        -
                                        <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
                                {% endif %}
                                {% if product.recurring %} <br/>
                                    -
                                    <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
                            <td class="text-right">x {{ product.quantity }}</td>
                            <td class="text-right">{{ product.total }}</td>
                            <td class="text-center">
                                <button type="button" onclick="cart.remove('{{ product.cart_id }}');"
                                        title="{{ button_remove }}" class="btn btn-danger btn-xs"><i
                                            class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for voucher in vouchers %}
                        <tr>
                            <td class="text-center"></td>
                            <td class="text-left">{{ voucher.description }}</td>
                            <td class="text-right">x&nbsp;1</td>
                            <td class="text-right">{{ voucher.amount }}</td>
                            <td class="text-center text-danger">
                                <button type="button" onclick="voucher.remove('{{ voucher.key }}');"
                                        title="{{ button_remove }}" class="btn btn-danger btn-xs"><i
                                            class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </li>
            <li>
                <div>
                    <table class="table table-bordered">
                        {% for total in totals %}
                            <tr>
                                <td class="text-right"><strong>{{ total.title }}</strong></td>
                                <td class="text-right">{{ total.text }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p class="text-right"><a href="{{ cart }}"><strong><i
                                        class="fa fa-shopping-cart"></i> {{ text_cart }}
                            </strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i
                                        class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
                </div>
            </li>
        {% else %}
            <li>
                <p class="text-center">{{ text_empty }}</p>
            </li>
        {% endif %}
    </ul>
</div>#}
