{% if currencies|length > 1 %}

    <div class="fl-currency">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
            <input type="hidden" name="code" value=""/>
            <input type="hidden" name="redirect" value="{{ redirect }}"/>
            <ul class="currencies_list">
                {% for currency in currencies %}
                    {% if currency.code == code %}
                        {% if currency.symbol_left %}
                            <li style="opacity: .5"><a href="{{ currency.code }}" title="{{ currency.symbol_left }} {{ currency.title }}"> {{ currency.symbol_left }}</a></li>
                        {% else %}
                            <li style="opacity: .5"><a href="{{ currency.code }}" title="{{ currency.symbol_right }} {{ currency.title }}"> {{ currency.symbol_right }}</a></li>
                        {% endif %}
                    {% else %}
                        {% if currency.symbol_left %}
                            <li><a href="{{ currency.code }}" title="{{ currency.symbol_left }} {{ currency.title }}"> {{ currency.symbol_left }}</a></li>
                        {% else %}
                            <li><a href="{{ currency.code }}" title="{{ currency.symbol_right }} {{ currency.title }}"> {{ currency.symbol_right }}</a></li>
                        {% endif %}
                    {% endif %}

                {% endfor %}
            </ul>
        </form>
    </div>
{% endif %} 